<div class="dynameter-widget">
  <div class="dynameter"></div>
  <div class="legend" class="legend"><div class="legend-min">0</div><div class="legend-max">{{ maxVisits }}</div></div>
</div>
<script type="text/javascript">$(document).ready(function () {require('piwik/PerformanceMonitor').initSimpleRealtimeVisitorWidget({{ refreshInterval }});});</script>
