{% extends 'dashboard.twig' %}

{% block content %}
<div class="pageWrap" id="multisites">
<h1>{{ siteName }}</h1>
<p>{{ description }}</p><br /><br />
    <div id="main">
{% for site in sites %}
<div class="widgetIframe"><div class="frameHeader">{{ site.name }}</div><iframe width="100%" height="350" src="http://piwik.intersolve.de/piwik/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=PerformanceMonitor&actionToWidgetize=index&idSite={{ site.id }}&period=day&date=today&disableLink=1&widget=1" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
    {% else %}
        <li><em>no Sites found</em></li>
    {% endfor %}
    </div>
</div>
{% endblock %}
